.Low{
    padding-left: 150px;
    padding-top: 20px;
    padding-right: 150px;
    padding-bottom: 20px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 50px;
  }
  .navlinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    padding-right: 400px;
  }
  .profile {
    width: 430px;
    padding-top: 20px;
    height: 540px;
    border-radius: 5%;
    border-color: none;
    border-width: 0px;
    border-style: solid;
  }
  .logo {
    font-size: 35px;
    color: black;
   
  }
  main {
    display:flex;
    flex-direction: row;
  }
  .introtextholder {
    padding-left: 50px;
    padding-top: 50px;
  }
  .introtext {
    font-weight: bolder;
    font-size: xx-large;
  }
p {
    font-size: medium;
  }